/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: rgb(16, 16, 35);
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

.portfoliolinks {
  text-align: center;
  color: rgb(195, 39, 39);
background-color: rgb(89, 102, 98);
margin-bottom: 0;
border-bottom: 2px;
border-bottom-color: rgb(76, 62, 41);
border-bottom-style: groove;
}


/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.myphoto {
  max-width: 300px;
  float: left;
  margin-right: 50px;
  margin-left: 50px;
}
.resume {
  max-width: 100px;
}
.post-title {
  text-align: center;
}

.icons, .resume {
  text-align: center;
  background-color: #C08181;
}
.icons {
margin-bottom: 0;

}
.bios {
 background-color: rgb(200, 180, 195);
margin-right: 50px;
min-height: 405px;
margin-bottom: 60px;
}
.biohead {
  text-align: center;
  font-weight: bold;
}
.bioside {
  padding: 0 50px;

}
.footicon {
  max-width: 90px;
}

.portsection {
  background-color: gray;
}
.tnfinder {
  margin-bottom: 25px;

}


.portfoliohead {
  padding: 0 25px;
}
.portfolioquit {

  padding: 0 25px;

}
.myphoto {
  margin-right: 25px;
  margin-left: 0;
}
.districtpic {
  max-width:350px;
  display:inline-block;
  float:left;
  margin-right: 10px;
}
.quitimg {
  max-width: 300px;
  max-height: 100px;
  margin: 10px 30px;
  display: inline-block;
  float: right;

}
.portsection {
  min-height: 400px;
}
.tnfinder {
  padding-top: 25px;
}
/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(900px - (#{$spacing-unit} * 2));
    max-width:         calc(900px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(900px - (#{$spacing-unit}));
        max-width:         calc(900px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
.site-header {
  background-color: rgba(27,28,70,0.8);
  border-bottom-color: #C4141B;
  border-bottom-style:solid;
  border-bottom-width: 2px;
}

.site-title {
  text-align: center;
  font-size: 2em;
  margin: auto;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
